<!DOCTYPE html>
<html>
<head>
  <title>NotReddit</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <h2>Logged in as <%= current_user.username %> </h2>
    <div><%= button_to "Log out", session_url, method: :delete %></div>
  <% else %>
    <div><%= button_to "Log in", new_session_url, method: :get %></div>
  <% end %>

  <ul>
    <% flash[:error] ||= []
       flash[:error].each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
  </ul>

<%= yield %>
<br>

<div>
  <%= link_to "Back to Main Sub List", subs_url %>
  <br>
  <%= link_to "Your user page", user_url(current_user) if logged_in? %>
</div>

</body>
</html>
